
/* vertically centering admin icon */
#admin-icon{
    line-height:1.7;
    color:white;
    font-size:22px;
}

/* indention for nested menu  */
.nav-sidebar .nav-treeview > .nav-item > .nav-link > .nav-icon{
    margin-left:10px !important;
}